@using ApplicationCore.Interfaces;
@using ApplicationCore.Entities;
@inject IRepository<Product> ProductRepo
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products (Test)</h1>

@foreach (var p in await ProductRepo.GetAllAsync())
{
    <p>
        <img src="~/img/products/@p.PictureUri" alt="product" height="24" />
        @p.Id @p.Name @p.Price 
    </p>
}

@*
    // TODO: 
    * RESPONSIVE GRID
    * FILTER BY CATEGORY, BRAND
    * PAGINATION

*@